{% extends "main.html" %}
{% block title %}
    {{category.name}}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{category.name}}</li>
  </ol>
</nav>
{% endblock %}

{% block nav %}
<div class="list-group list-group-flush">
    {% for item in items %}
    <a class="list-group-item" href = "{{url_for('showItem', item_id = item.id)}}">{{item.name}}</a>
    {% endfor %}
    <a class="list-group-item" href = "{{url_for('createItem', category_id = category.id)}}"> + New Item</a>
</div>
{% endblock %}

{% block content %}
Please navigate to a product.
{% endblock %}
