{% extends "main.html" %}
{% block title %}
    {{category.name}} > {{item.name}}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{url_for('showCategory', category_id = category.id)}}">
            {{category.name}}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{item.name}}</li>
  </ol>
</nav>
{% endblock %}

{% block nav %}
<div class="list-group list-group-flush">
    {% for item in items %}
        <a class="list-group-item" href = "{{url_for('showItem', item_id = item.id)}}">
            {{item.name}}
        </a>
    {% endfor %}
    {% if user %}
    <a class="list-group-item" href = "{{url_for('createItem', category_id = category.id)}}">
      + New Item
    </a>
    {% else %}
    <a class="list-group-item disabled">
      <span data-toggle="tooltip" data-placement="top" title="Login to add new items">+ New Item</span>
    </a>
    {% endif %}
</div>
{% endblock %}

{% block content %}

{% if user.id == item.user_id %}
<div class="float-right">
    <a href="{{url_for('editItem', item_id = item.id)}}">Edit</a>
    <a href="{{url_for('deleteItem', item_id = item.id)}}">Delete</a>
</div>
{% endif %}

<h1>{{item.name}}</h1>
<p>{{item.description}}</p>
<p>
    {% if item.user %}
    <em>Author: {{item.user.name}}</em>
    <img class="rounded" style="width: 70px;" src="{{item.user.picture}}"/>
    {% else %}
    <em>No author</em>
    {% endif %}
</p>

{% endblock %}
