{% extends "main.html" %}
{% block title %}
    {{category.name}} > {{item.name}}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{url_for('showCategory', category_id = category.id)}}">
            {{category.name}}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{item.name}}</li>
  </ol>
</nav>
{% endblock %}

{% block nav %}
<div class="list-group list-group-flush">
    {% for item in items %}
    <a class="list-group-item" href = "{{url_for('showItem', item_id = item.id)}}">{{item.name}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<h1>{{item.name}}</h1>
<p>{{item.description}}</p>
{% endblock %}
