{% extends "item.html" %}
{% block title %}
    {{category.name}} > New Item
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{url_for('showCategory', category_id = category.id)}}">
            {{category.name}}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">New item</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<form action="{{ url_for('createItem', category_id=category.id)}}" method = "post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type ="text" class="form-control" name="name" value=""/>
        <label for="name">Description:</label>
        <input type ="text" class="form-control" name="description" value=""/>
        <br/>
        <button type="submit" class="btn btn-primary" id="submit" type="submit">
            Save
        </button>
    </div>
</form>
{% endblock %}
